.secondIframe{
    width: 100%; /* Largeur de l'iframe */
    height:auto; /* Hauteur de l'iframe */
    background-color: yellow; /* Juste pour tester */
   

}
#game-body {
    background-image: url("../images/game-background.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#enemy-section {
    display: flex;
    justify-content: space-between;
	background-color: rgba(104, 100, 100, 0.4); /* Black w/opacity/see-through */
}

#enemy-cards-container {
    display: flex;
    justify-content: space-between;
}

#enemy-board-cards-container {
    display: flex;
    justify-content: center;
}

.enemy-board-card {
    border: 2px solid wheat;
	color: ghostwhite;
	background-color: rgba(231, 15, 87, 0.753);
	/* padding:30px; */
	/* text-align:center; */
	margin:0 10px;
	transition: 1s;
	box-shadow: 0 0 10px white;
	text-align:center;
	width: 140px;
	height: 180px;
}

#enemy-details {
    display: flex;
	/* align-items: center; */
	/* flex-direction: column; */
}

.enemy-profile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#enemy-avatar {
	width: 20%;
	height: auto;
	border: 2px solid plum;
	border-radius: 50%;
}

.enemy-hp-mp-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.enemy-hp, .enemy-user, .enemy-mp {
    margin: 5px;
	color: white;
	font-size: 24px;
}

.enemy-remaining-cards-container img {
	width: 50px;
	height: auto;
}

.enemy-remaining-cards-container #enemy-remaining-cards-qty {
	color: white;
}

#player-section {
    display: flex;
    justify-content: space-between;
	background-color: rgba(219, 202, 217, 0.4);
}

#player-section #player-details {
    display: flex;
	/* justify-content: space-between; */
	color: white;
	font-size: 24px;
}

.player-hp-mp-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.player-remaining-cards-container img {
	width: 50px;
}

#player-board-cards-container {
    display: flex;
    justify-content: center;
}

.player-board-card {
    border: 2px solid snow;
	color: ghostwhite;
	background-color: rgba(90, 14, 231, 0.822);
	/* padding:30px; */
	/* text-align:center; */
	margin:0 10px;
	transition: 1s;
	/* box-shadow: 0 0 10px white; */
	text-align:center;
	width: 140px;
	height: 180px;
}

#player-cards-container {
	display: flex;
	/* align-items:stretch; */
	/* justify-content: center; */
	/* width:1000px; */
	/* margin:50px auto; */
}

.player-card {
	border: 2px solid snow;
	color: seashell;
	background-color: rgba(122, 11, 226, 0.829);
	text-align:center;
	margin:0 10px;
	transition: 1s;
	width: 140px;
	height: 180px;
}

.player-actions-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.player-actions-container button {
	padding: 5px 10px;
	color: antiquewhite;
	background-color:rgba(177, 19, 156, 0.616);
	border: 2px solid magenta;
}

.player-actions-container button:hover {
	background-color:rgba(8, 234, 241, 0.616);
}

#cards-template-stats-container {
	display: flex;
	justify-content: space-between;
}

.card-template-photo {
	width: 100px;
}

#remaining-turn-time, #your-turn {
	color: white;
}

.game-status-container {
	display: none;
	font-size: 50px;
	color: snow;
	text-align: center;
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	right: 0;
}

/* #game-status {
	display: none;
	font-size: 50px;
	color: snow;
	text-align: center;
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	right: 0;
} */

#game-error-message {
	display: none;
	font-size: 50px;
	color: snow;
	text-align: center;
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	right: 0;
}

iframe {
	/* display: none; */
}
